In [24]:
import sys
import os
import math
import pandas as pd
import numpy as np
import json

# Python visualisation library
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap

# Another much simpler viz library
import seaborn as sns

# Adding root of git repo to path so we can import pyfireanalytics
sys.path.append('..')

# Display formatting options
pd.set_option('display.max_columns', 1000)

In [34]:
data = pd.read_csv('~/desktop/movielens/UDATA.csv', encoding="ISO-8859-1")
item = pd.read_csv('~/desktop/movielens/UITEM.csv', encoding="ISO-8859-1")
genre = pd.read_csv('~/desktop/movielens/UGENRE.csv', encoding="ISO-8859-1")
user = pd.read_csv('~/desktop/movielens/UUSER.csv', encoding="ISO-8859-1")

data.rename(columns={'itemid':'movieid'}, inplace=True)

In [35]:
for i in data.columns: print(i)

userid
movieid
rating
timestamp

In [36]:
for i in item.columns: print(i)

movieid
movie title
releasedate
imdburl
unknown
action
adventure
animation
childrens
comedy
crime
documentary
drama
fantasy
filmnoir
horror
musical
mystery
romance
scifi
thriller
war
western

In [37]:
for i in genre.columns: print(i)

genre
genreid

In [38]:
for i in user.columns: print(i)

userid
age
gender
occupation
zipcode

In [45]:
df = pd.merge(data, item, on='movieid', how='outer')
df = pd.merge(df, user, on='userid', how='outer')

#pd.merge(restaurant_ids_dataframe, restaurant_review_frame, on='business_id', how='outer')

In [46]:
df.head(5)

,userid,movieid,rating,timestamp,movie title,releasedate,imdburl,unknown,action,adventure,animation,childrens,comedy,crime,documentary,drama,fantasy,filmnoir,horror,musical,mystery,romance,scifi,thriller,war,western,age,gender,occupation,zipcode
0,196,242,3,881250949,Kolya (1996),24-Jan-97,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,49,M,writer,55105
1,196,257,2,881251577,Men in Black (1997),4-Jul-97,http://us.imdb.com/M/title-exact?Men+in+Black+...,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,49,M,writer,55105
2,196,111,4,881251793,"Truth About Cats & Dogs, The (1996)",26-Apr-96,http://us.imdb.com/M/title-exact?Truth%20About...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0.0,0.0,49,M,writer,55105
3,196,25,4,881251955,"Birdcage, The (1996)",8-Mar-96,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,49,M,writer,55105
4,196,382,4,881251843,"Adventures of Priscilla, Queen of the Desert, ...",1-Jan-94,http://us.imdb.com/M/title-exact?Adventures%20...,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,49,M,writer,55105